In [1]:
#Decision statements

In [2]:
a=10
b=20

In [3]:
if(b>a):
  print("b is greater than a")
else:
  print("a is greater than b")

b is greater than a

In [4]:
a = 10
b = 20
c = 30

In [5]:
if(a>b & a>c):
  print("a is greatest")

elif(b>a & b>c):
    print("b is greatest")
else:
  print("c is the greatest")

c is the greatest

In [6]:
# if with tuple

In [7]:
tup1 = ('a', 'b', 'c')

In [10]:
if 'z' in tup1:
  print("value z is present in tup1")
else:
  print("value z is not present in tup1")

value z is not present in tup1

In [11]:
# if with list

In [12]:
l1 = ['a','b','c']

In [13]:
if l1[1]=='b':
  l1[1]='z'

In [14]:
l1

['a', 'z', 'c']

In [15]:
#if with dictionary

In [25]:
d1 = {'k1':10, 'k2':20, 'k3':30}

In [26]:
d1

{'k1': 10, 'k2': 20, 'k3': 30}

In [27]:
if d1['k3']==30:
  d1['k3']=d1['k3'] + 100

In [28]:
d1

{'k1': 10, 'k2': 20, 'k3': 130}

In [29]:
#Looping statements

In [30]:
#Looping statements = looping statements are used to repeat a task multiple times

In [32]:
i = 1
while(i<=10):
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [33]:
i = 1
n = 2
while(i<=10):
  print(n, ' * ', i, " = ", n*i)
  i=i+1

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

In [34]:
#while with list

In [56]:
l1 = [1,2,3,4,5]
i=0

In [57]:
while(i<len(l1)):
  l1[i]=l1[i]+100
  i=i+1

In [58]:
l1

[101, 102, 103, 104, 105]

In [59]:
#for loop

In [60]:
 #for loop = for loop is used to iterate over a sequence(tuple,list,dictionary,...)

In [61]:
l1 = ["mango", "apple","grapes","orange"]

In [62]:
l1

['mango', 'apple', 'grapes', 'orange']

In [64]:
for i in l1:
  print(i)

mango
apple
grapes
orange

In [65]:
l1 = ['orange','black','white']
l2 = ['chair','book','laptop']

In [66]:
for i in l1:
  for j in l2:
    print(i,' ',j)

orange   chair
orange   book
orange   laptop
black   chair
black   book
black   laptop
white   chair
white   book
white   laptop

In [67]:
#function

In [68]:
#function = function is a block of code which performs a specific task

In [69]:
def hello():
  print("Hello world")

In [70]:
hello()

Hello world

In [72]:
def add(x):
  return x + 10

In [73]:
add(5)

15

In [74]:
add(9)

19

In [75]:
def evenOrOdd(x):
  if(x%2 == 0):
    print("Even")
  else:
    print("Odd")

In [76]:
evenOrOdd(10)

Even

In [77]:
evenOrOdd(11)

Odd

In [78]:
#lambda function= it is called as anonoumous function

In [79]:
#It does not have any name and it will be defined in single line

In [80]:
g = lambda x: x*x*x

In [81]:
g(7)

343

In [82]:
g(5)

125

In [83]:
g(10)

1000

In [84]:
#lambda with filter

In [85]:
l1 = [1,2,3,78,34,56,77,98,90,27]

In [86]:
len(l1)

10

In [89]:
final_list = list(filter(lambda x: (x%2 ==0),l1))

In [90]:
final_list

[2, 78, 34, 56, 98, 90]

In [91]:
#lambda with map

In [92]:
l1 = [1,2,3,4,5,6,7,8]

In [93]:
list_final_new =list(map(lambda x: x*2,l1))

In [94]:
list_final_new

[2, 4, 6, 8, 10, 12, 14, 16]

In [95]:
#lambda with reduce

In [97]:
#import reduce from functools

In [98]:
from functools import reduce

In [99]:
#If you want one final result over something then you use reduce

In [100]:
#map is used when you want to access each element of a list

In [102]:
sum = reduce(lambda x, y: x+y,l1)

In [103]:
sum

36